<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992019083022-sm06flaj0nestij8a2n00ej2iflq6igl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992019083022-sm06flaj0nestij8a2n00ej2iflq6igl</string>
	<key>API_KEY</key>
	<string>AIzaSyDSYf7ug5nxL-uItqhQ1Gy8MaKoU2vto38</string>
	<key>GCM_SENDER_ID</key>
	<string>992019083022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.RUMAD-BudgetingApp</string>
	<key>PROJECT_ID</key>
	<string>budgetingapp-8cb77</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetingapp-8cb77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:992019083022:ios:362a55c14c5c93f8a1b15f</string>
</dict>
</plist>
